{{> header }}
    <h4 class="bodyheader">
        {{#equals lang "en"}}
            Area List
        {{else}}
            থাত তালিকা
        {{/equals}}
    </h4>
    <table>
        <thead>
            <tr>
            {{#each headerColumns as | header |}}
                <th class="tableHeader">{{ header }}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#equals lang "en"}}
                 {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{ item.code }}</td>
                        <td>
                            {{ item.name_en }}
                        </td>
                        <td>{{ item.budget_source }}</td>
                        <td>{{number item.allocated_amount }}</td>
                        <td>{{ item.comments }}</td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{ item.code }}</td>
                        <td>
                            {{ item.name_bn }}
                        </td>
                        <td>{{ item.budget_source }}</td>
                        <td>{{number item.allocated_amount }}</td>
                        <td>{{ item.comments }}</td>
                    </tr>
                {{/each}}
            {{/equals}}
        </tbody>
    </table>
 {{> footer }}