{{> header }}
    <h4 class="bodyheader">
        {{#equals lang "en"}}
            Bill Management Voucher - {{ data.0.voucherId }}
        {{else}}
            বিল ব্যবস্থাপনা ভাউচার - {{ data.0.voucherId }}
        {{/equals}}
    </h4>
    <table>
        <thead>
            <tr>
            {{#each headerColumns as | header |}}
                <th class="tableHeader">{{ header }}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#equals lang "en"}}
                 {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{ item.fiscalyearInfo.name_en }}</td>
                        <td>{{ item.districtInfo.name_en }}</td>
                        <td>{{ item.subareaInfo.areaInfo.name_en }}</td>
                        <td>{{ item.subareaInfo.name_en }}</td>
                        <td>{{number item.allocated_amount }}</td>
                        <td>{{date item.expense_date }}</td>
                        <td>{{number item.expense_amount }}</td>
                        <td>{{number item.expense_amount }}</td>
                        <td>{{number item.remaining_amount }}</td>
                        <td>{{ item.comments }}</td>

                    </tr>
                {{/each}}
            {{else}}
                {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{ item.fiscalyearInfo.name_bn }}</td>
                        <td>{{ item.districtInfo.name_bn }}</td>
                        <td>{{ item.subareaInfo.areaInfo.name_bn }}</td>
                        <td>{{ item.subareaInfo.name_bn }}</td>
                        <td>{{number item.allocated_amount }}</td>
                        <td>{{date item.expense_date }}</td>
                        <td>{{number item.expense_amount }}</td>
                        <td>{{number item.expense_amount }}</td>
                        <td>{{number item.remaining_amount }}</td>
                        <td>{{ item.comments }}</td>
                    </tr>
                {{/each}}
            {{/equals}}
        </tbody>
    </table>
 {{> footer }}