{{> header }}
    <h4 class="bodyheader">
        {{#equals lang "en"}}
            Office List
        {{else}}
            দপ্তর তালিকা
        {{/equals}}
    </h4>
    <table>
        <thead>
            <tr>
            {{#each headerColumns as | header |}}
                <th class="tableHeader">{{ header }}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#equals lang "en"}}
                 {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>
                            {{ item.name_en }}
                        </td>
                        <td>{{ item.officetypeId.name_en }}</td>
                        <td>{{ item.divisionId.name_en }}</td>
                        <td>{{ item.districtId.name_en }}</td>
                        <td>{{ item.upazilaId.name_en }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{status item.status}}</td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>
                            {{ item.name_bn }}
                        </td>
                        <td>{{ item.officetypeId.name_bn }}</td>
                        <td>{{ item.divisionId.name_bn }}</td>
                        <td>{{ item.districtId.name_bn }}</td>
                        <td>{{ item.upazilaId.name_bn }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{status item.status}}</td>
                    </tr>
                {{/each}}
            {{/equals}}
        </tbody>
    </table>
 {{> footer }}