{{> header }}
    <h4 class="bodyheader">
        {{#equals lang "en"}}
            Teacher List
        {{else}}
            শিক্ষকগণের তালিকা
        {{/equals}}
    </h4>
    <table>
        <thead>
            <tr>
            {{#each headerColumns as | header |}}
                <th class="tableHeader">{{ header }}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each data as | item |}}
                <tr>
                    {{#each item.keys as | key |}}
                        {{#equals key "sl"}}
                            <td>{{ item.sl }}</td>
                        {{/equals}}
                        {{#equals key "name"}}
                            <td>{{ item.name }}</td>
                        {{/equals}}
                        {{#equals key "mobile"}}
                            <td>{{ item.mobile }}</td>
                        {{/equals}}
                         {{#equals key "nid"}}
                            <td>{{ item.nid }}</td>
                        {{/equals}}
                         {{#equals key "learning_center_id"}}
                            <td>{{ item.learning_center_id }}</td>
                        {{/equals}}
                         {{#equals key "code"}}
                            <td>{{ item.code }}</td>
                        {{/equals}}
                         {{#equals key "gender_id"}}
                            <td>{{ item.gender_id }}</td>
                        {{/equals}}
                          {{#equals key "father_name"}}
                            <td>{{ item.father_name }}</td>
                        {{/equals}}
                          {{#equals key "mother_name"}}
                            <td>{{ item.mother_name }}</td>
                        {{/equals}}
                        {{#equals key "bank_name"}}
                            <td>{{ item.bank_name }}</td>
                        {{/equals}}
                        {{#equals key "branch_name"}}
                            <td>{{ item.branch_name }}</td>
                        {{/equals}}
                         {{#equals key "account"}}
                            <td>{{ item.account }}</td>
                        {{/equals}}
                        {{#equals key "doj"}}
                            <td>{{ item.doj }}</td>
                        {{/equals}}
                        {{#equals key "dob"}}
                            <td>{{ item.dob }}</td>
                        {{/equals}}
                        {{#equals key "nature"}}
                            <td>{{ item.nature }}</td>
                        {{/equals}}
                        {{#equals key "training"}}
                            <td>{{ item.training }}</td>
                        {{/equals}}
                        {{#equals key "cluster_number"}}
                            <td>{{ item.cluster_number }}</td>
                        {{/equals}}
                        {{#equals key "status"}}
                            <td>{{ item.status }}</td>
                        {{/equals}}
                    {{/each}}
                </tr>
            {{/each}}
        </tbody>
    </table>
 {{> footer }}