{{> header }}
    <h4 class="bodyheader">
        {{#equals lang "en"}}
            Bill Management Report
        {{else}}
            বিল ব্যবস্থাপনা প্রতিবেদন
        {{/equals}}
    </h4>
    <table>
        <thead>
            <tr>
            {{#each headerColumns as | header |}}
                <th class="tableHeader">{{ header }}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#equals lang "en"}}
                 {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{ item.fiscalyearInfo_name_en }}</td>
                        <td>{{ item.districtInfo_name_en }}</td>
                        <td>{{ item.areaInfo_name_en }}</td>
                        <td>{{ item.subareaInfo_name_en }}</td>
                        <td>{{number item.allocated_amount }}</td>
                        <td>{{number item.expense_amount }}</td>
                        <td>{{number item.remaining_amount }}</td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{ item.fiscalyearInfo_name_bn }}</td>
                        <td>{{ item.districtInfo_name_bn }}</td>
                        <td>{{ item.areaInfo_name_bn }}</td>
                        <td>{{ item.subareaInfo_name_bn }}</td>
                        <td>{{number item.allocated_amount }}</td>
                        <td>{{number item.expense_amount }}</td>
                        <td>{{number item.remaining_amount }}</td>
                        <td>{{ item.comments }}</td>
                    </tr>
                {{/each}}
            {{/equals}}
        </tbody>
    </table>
 {{> footer }}