{{> header }}
    <h4 class="bodyheader">
        {{#equals lang "en"}}
            Center Inspection List
        {{else}}
           কেন্দ্র পরিদর্শন তালিকা
        {{/equals}}
    </h4>
    <table>
        <thead>
            <tr>
            {{#each headerColumns as | header |}}
                <th class="tableHeader">{{ header }}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
             {{#equals lang "en"}}
                {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>{{item.employee.name_en }}</td>
                        <td>{{ item.employee.designationId.name_en }}</td>
                        <td>{{ item.teacher.name_en }}</td>
                        <td>{{ item.visit_date }}</td>
                        <td>{{ item.caretaker.name_en }}</td>
                        <td>{{ item.regularStudent }}</td>
                    </tr>
            {{/each}}
            {{else}}
                {{#each data as | item |}}
                    <tr>
                      <td>{{inc @index}}</td>
                        <td>{{item.employee.name_bn }}</td>
                        <td>{{ item.employee.designationId.name_bn }}</td>
                        <td>{{ item.teacher.name_bn }}</td>
                        <td>{{ item.visit_date }}</td>
                        <td>{{ item.caretaker.name_bn }}</td>
                        <td>{{ item.regularStudent }}</td>
                    </tr>
                {{/each}}
            {{/equals}}
        </tbody>
    </table>
 {{> footer }}