{{> header }}
    <h4 class="bodyheader">
        {{#equals lang "en"}}
            Fiscalyear List
        {{else}}
            অর্থবছর তালিকা 
        {{/equals}}
    </h4>
    <table>
        <thead>
            <tr>
            {{#each headerColumns as | header |}}
                <th class="tableHeader">{{ header }}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>  
            {{#equals lang "en"}}
                 {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>
                            {{ item.name_en }}
                        </td>
                        <td>{{ status item.status }}</td>
                    </tr>
                {{/each}}
            {{else}}
                {{#each data as | item |}}
                    <tr>
                        <td>{{inc @index}}</td>
                        <td>
                            {{ item.name_bn }}
                        </td>
                        <td>{{ status item.status }}</td>
                    </tr>
                {{/each}}
            {{/equals}}
        </tbody>
    </table>
{{> footer }}
